---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const headers = { 'Content-Type': 'application/json'};
const postData = await fetch( "https://bornancient.shop/graphql", {
method: 'post',
headers,
body: JSON.stringify({
	query: `{
				posts {
					nodes {
						content
						title
						excerpt
						slug
					}
				}
		}`
	})
}).then(data => data.json())

const posts = postData?.data?.posts?.nodes;

---

<Layout title="Born Ancient - Home">
	<nav aria-label="Breadcrumb">
		<ul class="uk-breadcrumb">
			<li tabindex="1"><span>Home</span></li>
		</ul>
	</nav>
	<div class="uk-grid-match uk-child-width-1-1 uk-child-width-expand@s uk-text-center uk-flex uk-flex-center" uk-grid>
		{
			posts.map(post => 
				<div class="">
					<Card href={`/blog/posts/${post.slug}`} name={post.title} body={post.excerpt}/>
				</div>
			)
		}	
	</div>
</Layout>

<style>

</style>
