---
export interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<div class="uk-card uk-card-default uk-card-body">
	<a href={href}>
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p set:html={body}></p>
	</a>
</div>

<style>

</style>
