---
export interface Props {
    // title: string;
    // body: string;
    // href: string;
}

const headers = { "Content-Type": "application/json" };
const pageData = await fetch("https://bornancient.shop/graphql", {
    method: "post",
    headers,
    body: JSON.stringify({
        query: `{
				pages {
					nodes {
						title
						id
                        slug
					}
				}
		}`,
    }),
}).then((data) => data.json());

const pages = pageData?.data?.pages?.nodes;
---

<nav class="uk-navbar-container uk-navbar-transparent">
    <div class="uk-container">
        <div uk-navbar>

            <div class="uk-hidden@s uk-navbar-left">
                <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#" uk-toggle="target: #offcanvas-nav-primary"></a>
            </div>

            <div class="uk-visible@s uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/"
                    ><img
                        src="https://cdn.shopify.com/s/files/1/0611/5098/6428/files/BORN_ANCIENT_LOGO_FALL_2022_WEBSITE_HEADER.png?v=1664600643"
                        width="100"
                    /></a
                >
            </div>

            <div class="uk-hidden@s uk-navbar-center">
                <a class="uk-navbar-item uk-logo" href="/"
                    ><img
                        src="https://cdn.shopify.com/s/files/1/0611/5098/6428/files/BORN_ANCIENT_LOGO_FALL_2022_WEBSITE_HEADER.png?v=1664600643"
                        width="100"
                    /></a
                >
            </div>

            <div class="uk-navbar-right">
                
                <ul class="uk-visible@s uk-navbar-nav navbar-right">
                    {
                        pages.map((page) => (
                            <li>
                                <a href={`/${page.id}`}>{page.title}</a>
                            </li> 
                        ))
                    }
                </ul>

            </div>
        </div>
    </div>
</nav>

<div id="offcanvas-nav-primary" uk-offcanvas="overlay: true;">
    <div class="uk-offcanvas-bar uk-dark uk-flex uk-flex-column">

        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            {
                pages.map((page) => (
                    <li>
                        <a href={`/${page.id}`}>{page.title}</a>
                    </li> 
                ))
            }
        </ul>

    </div>
</div>

<script>
    // Set active class on navbar left when the page is active
    const nav = document.querySelector(".uk-navbar-nav");
    const navLinks = nav.querySelectorAll("li");

    const currentURL = window.location.href;

    navLinks.forEach((link) => {
        if (link.querySelector("a").href === currentURL) {
            link.classList.add("uk-active");
        }
    });
</script>

<style></style>
